[submodule "lib/nuklear"]
	path = lib/nuklear
	url = git@github.com:Immediate-Mode-UI/Nuklear.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = git@github.com:tencent/rapidjson.git
[submodule "lib/units"]
	path = lib/units
	url = git@github.com:nholthaus/units.git
[submodule "lib/semver"]
	path = lib/semver
	url = git@github.com:h2non/semver.c.git
[submodule "lib/utf8"]
	path = lib/utf8
	url = git@github.com:s0cks/utf8.h.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "lib/backward"]
	path = lib/backward
	url = git@github.com:bombela/backward-cpp.git
[submodule "lib/vorbis"]
	path = lib/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis.git
[submodule "lib/tweeny"]
	path = lib/tweeny
	url = git@github.com:mobius3/tweeny.git
